<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
           http://www.springframework.org/schema/aop   
           http://www.springframework.org/schema/aop/spring-aop-4.1.xsd   
           http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context-4.1.xsd ">

	<!-- 配置要扫描的包 ,有多个可以用';'号隔开,也可写多个context:component-scan-->
	<context:component-scan base-package="com.webside.*.dao;com.webside.*.service;com.webside.util" />

	<!-- 启动对@AspectJ注解的支持 -->
	<!--通知spring使用cglib而不是jdk的来生成代理方法 AOP可以拦截到Controller -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<bean id="logAspect" class="com.webside.util.LogAspect" />
	
	<!-- 引入属性文件:方式一 -->
	<!--  
	<context:property-placeholder 
		ignore-unresolvable="true" 
		location="classpath:jdbc.properties,classpath:webside.properties"/> 
	-->
	
	<!-- 引入属性文件:方式二 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:webside.properties</value>
				<value>classpath:activemq.properties</value>
			</list>
		</property>
	</bean>

	<import resource="spring-mybatis.xml"/>
	<import resource="spring-shiro.xml"/>
	<import resource="spring-kaptcha.xml"/>
	<import resource="spring-jms.xml"/>
	<import resource="spring-ehcache.xml"/>
</beans>    