<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    		http://www.springframework.org/schema/beans 
    		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="false">

	<!-- flyway配置 -->
	<bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate">
		<property name="dataSource" ref="dataSource" />
		<property name="encoding" value="UTF-8" />
		<property name="table" value="TB_SCHEMA_VERSION" />
		<property name="locations" value="db/migration" />
		<property name="baselineOnMigrate" value="true" />
		<property name="baselineVersion">
			<bean class="org.flywaydb.core.api.MigrationVersion"
				factory-method="fromVersion">
				<constructor-arg value="0" />
			</bean>
		</property>
	</bean>

</beans>